.content {
 margin-left: 200px;
 padding: 1px 16px;
 /*Para visualizar la altura del contenedor*/
 /*height: 1000px;*/
 /*Con estos estilos lo movimos el contenido fuera del sidebar, porque antes el sidebar los tapaba*/
}
  