<h4>Formularios <small>Template</small></h4>
<hr>
<div class="container">
  <form (ngSubmit)="guardar()" #forma='ngForm'> <!--Método GUARDAR, se va disparar cuando presionesmos el boton submit de abajo-->

    <div class="row">
      <div class="col-5">
        <label for="fname" class="lbl">Nombre</label>
      </div>
      <div>
        <input 
        type="text"
        id="fname" 
        placeholder="Nompre" 
        class="txtbox" 
        name="Nombre" 
        [(ngModel)] = "persona.nombre"
        required
        minlength="10"
        #nombre = "ngModel"
        [class.is-invalid] = "nombre.invalid && nombre.touched"
        pattern="^[a-zA-zñÑ\s]+$"> <!--#nombre = "ngModel" es propio de angular, el # es una referencia, y esta referenciando a todo el input, es la variable
        
        Estudiar expresiones regulares-->
      </div>
      <small class="text-danger" *ngIf="nombre.invalid && nombre.touched">Ingrese más de 3 letras</small>

    </div>

    <div class="row">
      <div class="col-5">
        <label for="flastName" class="lbl">Apellido</label>
      </div>
      <div>
        <input 
        type="text" 
        id="flastName" 
        placeholder="Apellido" 
        class="txtbox"
        name="apellido"
        [(ngModel)]="persona.apellido"
        required
        minlength="4"
        #apellido="ngModel"
        [class.is-invalid] = "apellido.invalid && apellido.touched"
        pattern="^[a-zA-ZñÑ\s]+$"> 
      </div>
      <small class="text-danger" *ngIf="apellido.invalid && apellido.touched">Ingrese más de 4 letras</small>

    </div>

    <div class="row">
      <div class="col-5">
        <label for="femail" class="lbl">Email</label>
      </div>
      <div>
        <input 
        type="text" 
        id="femail" 
        placeholder="Correo Electrónico" 
        class="txtbox"
        name="correo"
        [(ngModel)]="persona.correo"
        required
        #correo = "ngModel"
        [class.is-invalid]="correo.invalid && correo.touched"
        pattern="^(([^<>()\[\]\.,;:\s@\”]+(\.[^<>()\[\]\.,;:\s@\”]+)*)|(\”.+\”))@(([^<>()[\]\.,;:\s@\”]+\.)+[^<>()[\]\.,;:\s@\”]{2,})$"
        >
        <small class="text-danger" *ngIf="correo.invalid && correo.touched">Ingrese un email válido</small>

      </div>
    </div>

    <div class="row">

      <div class="col-5">
        <label for="fpais" class="lbl" >Pais</label>
      </div>
      <div>
        <select 
        name="pais" 
        id="fpais"
        class="cmbbox"
        ngModel
        required
        [disabled]="paises.length === 0"
        [(ngModel)]="persona.pais"
        #pais = "ngModel"
        [class.is-invalid]="pais.invalid && pais.touched"
        >
      <option *ngFor="let pais of paises" [value]="pais.codigo">
        {{ pais.nombre }}
      </option>
      </select>
      <small class="text-danger" *ngIf="pais.invalid && pais.touched">
        Ingrese un pais
      </small>
    </div>

  </div>


  <div class="row">
    <div class="col-5">
      <label class="lbl">Género</label>
    </div>
    <div class="una-linea radiobtn">
      <input 
      type="radio"
      id="fgenero-masculino"
      name="genero"
      ngModel
      value="M"
      required
      #genero = "ngModel"
      [(ngModel)] = "persona.genero"
      >
      <label for="fgenero-masculino">Masculino</label>
    </div>

    <div class="una-linea radiobtn">
      <input 
      type="radio"
      name="genero" 
      id="fgenero-femenino"
      ngModel
      value="F"
      required
      #genero = "ngModel"
      [(ngModel)]=" persona.genero"
      >
      <label for="fgenero-femenino">Femenino</label>
    </div>
  </div>

    <div class="row">
      <div class="alinea-btn">
        <button type="submit" class="btn" [disabled]="!forma.valid">Guardar</button> <!--si es verdadero lo desabilita el boton-->
      </div>
    </div>

  </form>
</div>